{% extends "base.html" %}

{% block metatags %}
<title>Test mailer | Minimal</title>
<meta name="description" content="Mailer: email sent">
{% endblock %}

{% block contents %}
<div class="container">

    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Email sent</li>
        </ol>
    </div>

    <h1>Attempt: sending email</h1>
    <p class="lead">{{teststr}}</p>

</div>
{% endblock %}